html,
body,
*{
    padding: 10px;
    margin: 10px;
    font-size: 62.5%;
    border-radius: 30px;
    flex: 200px;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 5px auto;
    border: 3px solid black;
    font-family: 'Alkalami', serif;
}
.parent{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    width: 45vw;
    height: 60vh;
    border-radius: 30px;
    flex-wrap: wrap;
}
.horse{
    width: 80%;
    border: 3px solid black;
    box-shadow: 5px 10px;
    padding: 10px auto;
}
.imgsize{
    width: 95%;
}
