html,
body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    font-family: font-family: 'Nabla', cursive;
    font-size: 50px;
    text-align: center;
    border: 3px solid black;
    margin-bottom: 10px;
    margin-top: 5px;
}
.parent{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horse{
    /* border: 2px solid blueviolet; */
    width: 67%;
}
.horse-1{
    border: 3px solid green;
    height: 500px;
}
.horse-2{
    border: 3px solid red;
    height: 500px;
}
.horse-3{
    border: 3px solid purple;
    height: 500px;
}
