html,
body,
*{
    padding: 0;
    margin: 10px;
    font-size: 62.5%;
    border-radius: 30px;
    flex: 200px;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 15px auto;
    border: 3px solid black;
    font-family: 'Alkalami', serif;
}
.parent{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    width: 95vw;
    border-radius: 30px;
    flex-wrap: wrap;
}
.horse{
    width: 40%;
    border: 3px solid black;
}
.imgsize{
    width: 40%;
}
